{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <h1>My Projects</h1>
            {% if user.is_authenticated %}
                <p><a href="{% url 'create_project' %}">Create a new project</a></p>
            {% endif %}
            {% if project_list %}
                <table>
                    <thead>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </thead>
                    <tbody>
                        {% for project in project_list %}
                            <tr>
                                {% if project.name %}
                                    <td><a href = "{% url 'show_project' project.pk %}">{{ project.name }}</td>
                                    <td>{{ project.tasks.all|length }}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You are not assigned to any projects</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}